body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  /* Diseño */
  color: #373F47;
  background-color: #E2E6F3;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.highlight {
  color: #5B6BC2;
}

p {
  color: #5A5B72;
}

footer {
  text-align: right;
  color: #373F47;
  font-weight: 800;
}

/* Diseño tarjetas */
.card {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.tile-image {
  float: left;
  height: auto;
  width: 50%;
  border-radius: 5%;
  margin-right: 4%;
}


h2 {
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Responsividad */
@media (max-width: 1339px) {
  .card {
    display: block;
    margin-top: 35px;
  }

  .tile-image {
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .logo {
    width: 7rem;
    height: 2rem;
  }

  footer {
    text-align: center;
    margin-top: 5%;
  }
}

@media (min-width: 655px) and (max-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 533px) and (max-width: 656px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 532px) {
  .card {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .tile-image {
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 5%;
  }

  h1 {
    font-size: 2.5rem;
  }
}
