#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
    /*Se agregó esta parte al ejercicio por legibilidad de la letra, ya que el color es muy claro.*/
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.6px;
}

img {
    height: 200px;
    width: 200px;
}

.color-title {
    font-weight: normal;
}
